<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Title</title>
  <script src="https://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
  <script src="/static/protobuf.js"></script>
  <script src="/static/core.js"></script>
</head>
<body>
<div id="app" style="width: 700px;margin:0 auto;">
  <h2>登录状态：{{loginStatus}}</h2>
  <div style="display: flex;justify-content: space-between;">
    <div style="width:300px;border: 2px solid black">
      <h2>id</h2>
      <select v-model="msgId" style="width:200px;height: 40px;font-size: 20px">
        <option v-for="id,index in cmdIds" :value="id" :key="id">{{cmds[index]}}</option>
      </select>
      <h2>Data</h2>
      <div v-for="formItem,index in formItems" :key="index">
        <div><label>{{formItem.name}}</label></div>
        <input :type="formItem.type" v-model="formItem.value" :name="formItem.name">
      </div>
      <button type="button" @click="sendMsg">提交</button>
    </div>
    <pre style="width:400px;border: 2px solid green;word-break: break-all;line-height: 10px">{{text}}</pre>
  </div>
</div>
<script>

  const app = new Vue({
    el: '#app',
    data() {
      return {
        cmdIds: [],
        cmds: [],
        formItems: [],
        msgId: null,
        text: '',
        sm: null,
        loginStatus: '未登录'
      }
    },
    watch: {
      msgId (msgId) {
        const index = this.cmdIds.indexOf(msgId)
        const fields = SocketMessage.protoRoot.lookup(SocketMessage.cmds[index]).fields
        const formItems = []
        for (let key in fields) {
          const type = fields[key].type
          formItems.push({
            name: key,
            type: type === 'string' ? 'text' : 'number',
            value: type === 'string' ? '' : 0
          })
        }
        this.formItems = formItems
      }
    },
    methods: {
      sendMsg () {
        const index = this.cmdIds.indexOf(this.msgId)
        const reqData = {}
        this.formItems.forEach(f => {
          if (f.type === 'number') {
            reqData[f.name] = Number(f.value)
          } else {
            reqData[f.name] = f.value
          }
        })
        console.error(reqData)
        this.sm.emit(this.cmds[index], reqData)
      }
    },
    async created() {

      await SocketMessage.loadDepends(
        '/websocket/websocket.proto.json',
        '/websocket/websocket.proto'
      )

      this.cmds = SocketMessage.cmds.map(cmd => cmd.split('.').pop())
      this.cmdIds = SocketMessage.cmdIds
      this.msgId = SocketMessage.cmdIds[0]

      const sm = new SocketMessage()
      sm.init(new WebSocket('ws://127.0.0.1:8080/ws'))

      this.cmds.forEach(cmd => {
        sm.on(cmd, msg => {
          this.text = JSON.stringify(msg, null, '\n')
        })
      })

      sm.on('SystemCMD', data => {
        this.loginStatus = data.msg
        if (data.code === 2) {
          sm.heartbeat(10)
        }
      })

      this.sm = sm
    }
  })
</script>
</body>
</html>
